.EventDot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-right: 10px;
}

.EventDot:hover {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transform: translate(-1px, 0);
}